h1 {
	text-align: center;
}

#larry-bio {
margin: 50px auto auto auto;
}
.row {
  display: flex;
}

.column {
  width: 35%;
	margin-left: 5rem;
}
.column2 {
  width: 65%;
	margin-right: 5rem;

}

.img {
	width: 300px;
	padding-top: 2rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}