h1 {
	text-align: center;
}

#larry-bio {
margin: 50px auto auto auto;
}

.row {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.column {
	display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
	padding: 1rem;
}
.column2 {
	display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
	padding: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.img {
	width: 300px;
	padding-top: 5rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}