.row {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1rem;
	border-style: solid;
	border-color: black;
}
@media screen and (min-width: 800px) {
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: 5rem;
		margin-right: 5rem;
		margin-top: 1rem;
		border-style: solid;
		border-color: black;
	}
}

.column {
	display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}
.column2 {
	/* width: 70%; */
	display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
	padding: 5px;
}
.img {
	width: 500px;
	display: block;
	margin: auto auto;
	padding: 1rem;
}

@media screen and (max-width: 800px) {
	.img {
		width: 300px;
		display: block;
		margin: auto auto;
	}
}
.center {
	text-align: center;
	margin: auto;
	position: relative;
	top: 320px;
	right: 110px;
}
.textlink {
	color: black;
	text-decoration: none;
}

.titletext {
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 0;
}