.headertext {
	text-align: center;
}
.row {
  display: flex;
}

.column {
  width: 50%;
}
.column2 {
  width: 50%;

}
.centertext {
	text-align: center;
}
.img {
	width: 500px;
	/* padding: 0 5rem; */
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.aboutbutton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0.75rem;
	text-align: center;
	background: #004a00;
	color: #ffffff;
	border-radius: 2px;
	text-decoration: none;
	width: 20rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.aboutbutton:hover {
	background: #fed966;
}
.submitbutton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0.75rem;
	text-align: center;
	background: #004a00;
	color: #ffffff;
	border-radius: 2px;
	text-decoration: none;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.submitbutton:hover {
	background: #fed966;
}
.formgroup {
	position: relative;
	padding: 1rem;
}
.signupform {
	display: block;
	border: 2px solid black;
	margin: 2rem auto;
	width: 30%
}
.formcontrol {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.inside {
	width: 100%;
	background: #004a00;
	color: #ffffff;
}
hr {
	border: none;
	height: 2px;
	color: #333;
	background-color: #333;
}
.center {
	text-align: center;
	margin: auto;
	position: relative;
	top: 320px;
	right: 110px;
}
.bannerimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 350px;
	padding: 10px;
	
}


