.container {
	margin-top: 7rem;
	background-color: #fde394;
}
.formgroup {
	position: relative;
	padding: 1rem;
}
.signupform {
	display: block;
	border: 2px solid black;
	margin: 2rem;
	margin-left: auto;
	margin-right: auto;
	/* width: 25rem; */
}
.formcontrol {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
}

.button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0.75rem;
	text-align: center;
	background: #004a00;
	color: #ffffff;
	border-radius: 2px;
	text-decoration: none;
	margin-top: 1rem;

}
.button:hover {
	background: #fed966;
}

.donationbutton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0.75rem;
	text-align: center;
	background: #004a00;
	color: #ffffff;
	border-radius: 2px;
	text-decoration: none;
	/* width: 25rem; */
	/* background-image: url('../../image/paypal.png');
	background-size: 100%; */
}
.donationbutton:hover {
	background: #fed966;
}
.textlink {
	text-decoration: none;
	color: white;
}
.mailer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	margin-top: 4rem;

}

.row {
  display: flex;
	padding-top: 2rem;
	flex-direction: row;
	flex-wrap: wrap;
}
.column {
	display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.column2 {
	display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.column3 {
	display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

@media screen and (max-width: 800px) {
	.column {
		flex: 1;
		width: 100%;
	}
	.column2 {
		flex: 2;
		width: 100%;
	}
	.column3 {
		flex: 3;
		width: 100%;
	}
}
.centertext {
	text-align: center;
	margin: 0;
}
.img {
	width: 10rem;
	display:block;
	margin: auto auto;
	padding-top: 3rem;
}

@media screen and (max-width: 800px) {
	.img {
		display: block;
		margin: auto auto;
		padding-top: 3rem;
	}	
}