.header {
	/* height: 5rem; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:#fde394
}
/* @media screen and (max-width: 800px) {
	.header {
		width: 100%;
	}
} */

.logo {
	font-size: 20px;
	color: #004a00;
	text-decoration: none;
	padding: 2rem;
}

.nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 1rem;
	flex-direction: row;
	flex-wrap: wrap;
}

.nav li {
	margin-left: 1.5rem;
	font-size: 18px;
	display: block;
}

.nav a {
	text-decoration: none;
	color: #004a00;
	margin: 1rem;
}

.nav a:hover,
.nav a:active,
.nav a.active {
	text-decoration: underline;
}
